body {
    background-image: url(./photo-1558637845-c8b7ead71a3e.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}