
<head>
    <title>Layout</title>
    <link rel="stylesheet" href="./Layout-homework.css">
</head>
<body >
   <div  class="div1"  > Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, non. Hic accusamus reprehenderit, labore earum praesentium quasi modi minima et quibusdam dolore perferendis reiciendis eos error nobis sapiente enim? Autem?
    </div>
    <div  class="div2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus amet magnam! Maiores ullam rem doloribus accusamus ad praesentium quibusdam natus facere. Unde ab, architecto expedita enim labore minima asperiores!
    </div>
    <div  class="div3"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id corrupti consequuntur aliquid, a nam qui ex illo consequatur porro sint nobis incidunt. Quos voluptatibus commodi facere obcaecati repudiandae pariatur.
    </div>
    <hr>
    <div  class="div11" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, non. Hic accusamus reprehenderit, labore earum praesentium quasi modi minima et quibusdam dolore perferendis reiciendis eos error nobis sapiente enim? Autem?
    </div>
    <div  class="div22"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus amet magnam! Maiores ullam rem doloribus accusamus ad praesentium quibusdam natus facere. Unde ab, architecto expedita enim labore minima asperiores!
    </div>
    <div class="div33"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id corrupti consequuntur aliquid, a nam qui ex illo consequatur porro sint nobis incidunt. Quos voluptatibus commodi facere obcaecati repudiandae pariatur.
    </div>
   <hr>
    <div class="div01" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, non. Hic accusamus reprehenderit, labore earum praesentium quasi modi minima et quibusdam dolore perferendis reiciendis eos error nobis sapiente enim? Autem?
    </div>
    <div  class="div02"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus amet magnam! Maiores ullam rem doloribus accusamus ad praesentium quibusdam natus facere. Unde ab, architecto expedita enim labore minima asperiores!
    </div>
    <div  class="div03"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id corrupti consequuntur aliquid, a nam qui ex illo consequatur porro sint nobis incidunt. Quos voluptatibus commodi facere obcaecati repudiandae pariatur.
    </div>
</body>